// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-block a {
  color: white;
  text-decoration: none;
}

.btn-block a:hover {
  color: white;
  text-decoration: none;
}

.btn-group a {
  color: white;
  text-decoration: none;
}

.btn-group a:hover {
  color: white;
  text-decoration: none;
}
